header{
    background-color: #ffffff;
    padding: 20px 0;
}

.caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

#logo{
    margin: 1px -180px;
}

nav{
    float: right;
    top: 110px;
    right: 0;
    margin: 75px 180px 100px -180px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

#arriba{
    position: fixed;
    bottom: 70px;
    right: -100px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

footer{
    text-align: center;
    background-color: #000002;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.copyright{
    color: aliceblue;
    font-size: 13px;
    margin: 20px;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(255, 0, 149);
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}

.enviar:hover{
    background-color: rgb(255, 0, 212);
    transform: scale(1.1);
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

footer{
    text-align: center;
    background-color: #000002;
    padding: 10px;
}

.a{
    color: rgb(127, 136, 145);
    font-size: 13px;
    margin: 20px;
    text-align: center;
}

body::-webkit-scrollbar{
    width: 10px;
    color: #565656;
}

body::-webkit-scrollbar-thumb{
    background:#4d4b4b;
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover{
    background: #070713;
}